extends ./layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nostros",class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sed aliquam sit iusto modi nobis voluptates blanditiis dicta officiis, quam error quasi consequatur delectus, asperiores harum! At recusandae repellendus cupiditate. Debitis, neque nobis? Ipsum rem amet necessitatibus hic! Rem, tenetur!

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus eos suscipit exercitationem facilis ea eveniet adipisci illo minima esse odio corrupti maiores voluptas consequatur quasi maxime necessitatibus temporibus ullam vitae, optio sequi corporis culpa doloribus atque asperiores? At, dolore maxime.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus eos suscipit exercitationem facilis ea eveniet adipisci illo minima esse odio corrupti maiores voluptas consequatur quasi maxime necessitatibus temporibus ullam vitae, optio sequi corporis culpa doloribus atque asperiores? At, dolore maxime.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias aperiam eius nulla veniam molestiae, consequuntur necessitatibus enim aspernatur possimus adipisci distinctio illum saepe consequatur.
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias aperiam eius nulla veniam molestiae, consequuntur necessitatibus enim aspernatur possimus adipisci distinctio illum saepe consequatur.
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias aperiam eius nulla veniam molestiae, consequuntur necessitatibus enim aspernatur possimus adipisci distinctio illum saepe consequatur.
        